.contact {
  color: white;
  text-align: center;
  margin-top: 130px;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  position: inherit;
  padding-top: 120px;
}


.email a {
  color: white;
}
