<h4>New Member Registration</h4>
<div class="new-member-form">
  <div>
    <label>Member Name</label>
    <input #name>
  </div>
  <div>
    <label>Member Title</label>
    <input #title>
  </div>
  <div>
    <label class="member-keyboards">Keyboard Collection</label>
    <br>
    <div class="member-keyboards">
      <sub>Brand</sub>
      <input #brand>
      <sub>Model</sub>
      <input #model>
      <sub>Switch Type</sub>
      <input #switch>
      <sub>Size</sub>
      <input #size>
      <sub>Keycap Set</sub>
      <input #keycaps>
    </div>
    <button class="btn btn-success" (click)="addKeyboard(brand.value, model.value, switch.value, size.value, keycaps.value)">Add Keyboard</button>
    <ul *ngFor="let keyboard of keyboards">
      <li>Brand: {{keyboard.brand}}</li>
      <li>Model: {{keyboard.model}}</li>
      <li>Switch  Type: {{keyboard.switchType}}</li>
      <li>Size: {{keyboard.size}}</li>
      <li>Keycap Set: {{keyboard.keycaps}}</li>
    </ul>
  </div>
</div>
<button class="btn btn-default" (click)="createMember(name.value, title.value, [brand.value, model.value, switch.value, size.value, keycaps.value])">Add Member to club </button>

<div class="members">
  <app-members></app-members>
</div>
