<h4>New Member Registration</h4>
<div class="new-member-form">
  <div>
    <label>Member Name</label>
    <input #name>
  </div>
  <div>
    <label>Member Title</label>
    <input #title>
  </div>
  <div>
    <label class="member-keyboards">Keyboard Collection</label>
    <br>
    <sub>Brand</sub>
    <input #brand>
    <sub>Model</sub>
    <input #model>
    <sub>Switch Type</sub>
    <input #switch>
    <sub>Size</sub>
    <input #size>
    <button class="btn btn-default" (click)="addKeyboard(brand.value, model.value, switch.value, size.value)">Add Keyboard</button>
  </div>
</div>
<button class="btn btn-default" (click)="createMember(name.value, title.value)">Add Member to club </button>

<div>
  <app-members></app-members>
</div>
