<select (change)="onChange($event.target.value)">
  <option value="all">All Members</option>
  <option value="president">President</option>
  <option value="vice-president">Vice President</option>
  <option value="secretary">Secretary</option>
  <option value="treasurer">Treasurer</option>
  <option value="attendees">Attendees</option>
</select>

<h2>Our Members</h2>
<div *ngFor="let member of memberList | async | memberRoles: filterByTitle" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="memberDetails(member)">{{member.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <app-edit-members [currentMember]="member"></app-edit-members>
  </div>
</div>
