.container {
  margin-top: 150px;
  font-family: 'Kanit', sans-serif;
}

select {
  width: 200px;
  height: 30px;
}

h2 {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.panel {
  background-color: #424242;
  color: white;
  border: 1px solid #424242;
}

.panel-body {
  padding-bottom: 25px;
}
